{% extends "base.html" %}
{% block body %}
<div style="background-color: aquamarine;font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <marquee><h3>Hey Guys....!! Hope you all are doing well. You can contact us from here. </h3></marquee>
</div>
<div style="text-align: center;padding: 28px;background-color: aquamarine; font-style: italic;">
    <h1>Contact Us </h1>
  </div>
<div> 
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/pic.jpg" height="100%" width="100%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">General Contact Information</h5>
              <p class="card-text">Mailing address: Himalayan Tour and Travels., 400 1st Avenue, Dharamshala, Himachal Pradesh, India
                <br>General company phone number: +1 781 800 5000 
                <br>Email us at -: himalayantourandtravels@gmail.com</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
  
{% endblock body %}