{% extends "base.html" %}
{% block body %}
<div style="text-align: center;padding: 28px;background-color: aquamarine;">
    <h1>Our Top Destinations </h1>
  </div>
<!-- <img src="/static/pic.jpg" class="card-img-top" alt="..."> -->
<div> 
  <div class="card-group">
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Kullu-Manali</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Dharamshala</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Chamba</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div> 
  <div class="card-group">
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Kinnaur</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Lahaul-Spiti</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/static/pic.jpg" height="50%" width="100%">
      <div class="card-body">
        <h5 class="card-title">Solan</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}